@use "../../App.scss" as *;

// ========= Túi chống sốc Layout ========
.layout {
  padding: 20px 20px;
  margin: 0 auto;
}

// ======== TOP Banner =======
.top-banner {
  width: 100%;
  height: 40px;
  background: linear-gradient(135deg, #0066cc 0%, #0052a3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

// ========== MAIN WRAPPER ==========
.main-wrapper {
  display: flex;
  gap: 10px;
}

// ========== MAIN CONTENT (Giữa) ==========
.main-content {
  flex: 1;

  .product-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 14px;
    margin-bottom: 10px;
  }
}