@use "../../App.scss" as *;
.card {
  background: #fff;
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  transition: $transition-speed;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px) scale(1.025);

    .card-actions {
      opacity: 1;
      margin-top: auto;
    }
  }

  .tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6b6b;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    z-index: 2;
  }

  .card-image {
    width: 100%;
    height: 180px;
    padding-top: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .card-content {
    padding: 12px;

    h3 {
      font-size: 18px;
      margin: 0 0 8px 0;
      min-height: 20px;
      line-height: 1.3;
      text-align: left;

      font-size: 14px;
      line-height: 1.4;
      height: calc(1.4em * 2);
      overflow: hidden;
    }

    .price-section {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 10px;

      .price {
        font-size: 15px;
        font-weight: bold;
        color: $color-error;
      }

      .old-price {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
      }
    }

    .card-actions {
      display: flex;
      gap: 10px;
      opacity: 1;
      transition: opacity $transition-speed;

      .btn-add {
        flex: 1;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
        background-color: #fff;
        color: $color-blue;
        border: 1px solid $color-blue;
        border-radius: $border-radius;

        &:hover {
          background-color: $color-blue;
          color: white;
        }
      }

      .btn-buy {
        width: 60px;
        padding: 8px;
        font-size: 16px;
        border-radius: $border-radius;
        cursor: pointer;
        border: none;
        color: $background-light;
        background-color: #ff6b6b;

        &:hover {
          color: #e53935;
          background-color: $color-ogrance;
        }
      }
    }
  }
}
