@use "../../App.scss" as *;

  /* --------------HEADER SECTION--------------*/
  .header {
    border-bottom: $light-border; 

    // header-top - img banner
    .header-top {
      max-height: 88px;
      font-size: 14px;

      img {
        height: 100px;
        width: 100%;
      }
    }

    // Header main
    .header-main {
      padding: 20px 0 8px;

      .container {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      // Logo Fluxmall
      .logo {
        flex-shrink: 0;   // giữ icon không co nhỏ lại

        h1 {
          font-size: 28px;
          font-weight: bold;
          color: $color-red;
          margin: 0;
        }
      }

      // Thanh tìm kiếm
      .search-bar {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;

        input {
          width: 100%;
          padding: 10px 40px;   // padding placeholder
          font-size: 12px;
          border: 1px solid black;
          border-radius: $border-radius;
          transition: all $transition-speed;

          &:hover {
            border-color: $color-blue;
            box-shadow: 0 0 4px 2px rgba($color-blue, 0.25); // độ trong 25%
          }

          &:focus {
            outline: none;
            border-color: $color-blue;
            box-shadow: 0 0 8px 4px rgba($color-blue, 0.25);
          }
        }

        .icon {
          position: absolute;
          left: 15px;      // icon nằm phía trong input
          font-size: 18px;
          color: #777;
          pointer-events: none; // không vướng gõ
        }
      }

      // Giỏ hàng link
      .header-right {
        a {
          padding: 10px;
          font-size: 20px;
          color: #333;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.25s ease;
          border: 1px solid transparent;    //màu trong suốt

          .icon {
            font-size: 22px;
          }

          &:hover {
            background: $color-red;
            color: white;
            box-shadow: 0 0 10px rgba($color-red, 0.4);
            transform: $transform;    // nổi lên
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }